<div class="container1" fxLayout="column">
  
    
  <div fxLayout="row" fxLayoutAlign="end center" style="padding: 1rem;background-color: rgba(255,255,255,0.5);">
      
      
      <div fxLayout="row" fxLayoutAlign="space-evenly" style="opacity: 1;">
          <li style="list-style-type: none; padding-right: 1rem; cursor: pointer;color:white">Home</li>
          <li style="list-style-type: none; padding-right: 1rem; cursor: pointer;color:white">Features</li>
          <li style="list-style-type: none; padding-right: 1rem; cursor: pointer;color:white">Screenshots</li>
          <li style="list-style-type: none; padding-right: 1rem; cursor: pointer;color:white">Pricing</li>
          <li style="list-style-type: none; padding-right: 1rem; cursor: pointer;color:white">Download</li>
          <li style="list-style-type: none; padding-right: 1rem; cursor: pointer;color:white">Contact</li>
      </div>
  </div>
  <div style="width:100%; height: 100%;background-color: rgba(255,255,255,0.5);" fxLayoutAlign="center center">
    <div style="width:50%;height: 100%;" fxLayoutGap="1rem" fxLayoutAlign="center center" fxLayout="column">
      <div style="font-size: 3rem; font-weight: bold; color:white;width: 70%;line-height: 3rem;" fxLayoutAlign="start center" >
        No complexity,<br> Easy integrate
      </div>
      <div style="color:white;" fxLayoutAlign="start center">
        Quality control of your data including read length distribution and uniformity<br> assessment in a few clicks and choose your favorite technology.
        
      </div>
      <div style="width: 70%;">
        <button style="height: 3rem; border-radius: 2rem;" mat-raised-button color="primary" >DOWNLOAD NOW </button>
      </div>  
    </div>
    <div style="width:45%; height: 100%;" fxLayoutAlign="start end">
    <img style="width:70%; height: 70%;opacity: 1;" src='../assets/img/iphone_img.jpg' >

  </div>  
</div>
</div>
<div style="width: 100%; " fxLayoutAlign="center center">
  <div style="width:35%; font-weight: bold;"  >
    Dummy is a clean app landing page ideal for promoting your Android apps, as well as web services and software. The features and sections let you present the App.
  </div>
</div>  
<mat-card style="width:100%; padding-top: 4rem;" fxLayoutAlign="center center" fxLayoutGap="1rem">
  <mat-card style="width:10%;height:14rem; background-color: skyblue;" >
    <div style="font-weight: bold; font-size:1rem ; color:white ;height: 3rem;"fxLayoutAlign= "center" >Data In Cloud</div>
    <div style="color:white" fxLayoutAlign="center center" >
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</div>
    
  </mat-card>  
  <mat-card style="width: 10%;  height:14rem;background-color: darkblue;">
    <div style="font-weight: bold; font-size:1rem ; color:white ;height: 3rem;"fxLayoutAlign= "center" >Exclusive Design</div>  
    
    <mat-card-content style="color:white" >
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.
    </mat-card-content>
  </mat-card>
  
    <mat-card style="width: 10%;  height:14rem; background-color: lightgreen;"> 
      <div style="font-weight: bold; font-size:1rem ; color:white ;height: 3rem;"fxLayoutAlign= "center" >Enjoy It</div>  
      <mat-card-content style="color:white">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.
      </mat-card-content>

    </mat-card>

  
  <mat-card style="width: 10%;  height:14rem; background-color: palevioletred;">
    <div style="font-weight: bold; font-size:1rem ; color:white ;height: 3rem;"fxLayoutAlign= "center" >24/7 Support</div>  
    <mat-card-content style="color:white">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.
    </mat-card-content>

  </mat-card>
</mat-card>
<div style="width: 100%; height:100%"fxLayout="coloumn" fxLayoutAlign="center center">
  <div  fxLayoutGap="1rem" fxLayoutAlign="center center" fxLayout="column">
    <div style="width: 56%; font-size: 2rem; font-weight: bold; line-height: 2rem;  " fxLayoutAlign="start center" >
    
      Simplest way to<br> build tools.
    </div>
    <div style="width: 55%;">
      
     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
      
    </div>
    <div style="width: 57%;">
      <button style="height: 3rem; border-radius: 2rem;" mat-raised-button color="primary" >DOWNLOAD NOW </button>
    </div>  

  </div>  
  <div style="width: 100%; height:100%; padding-top: 3rem;" fxLayoutAlign="start end">
    <img style="height: 100%;" src='../assets/img/mockup3-phone.png'>

  </div>
</div>

<div style="background-image: url('../assets/img/bg/bg-elements_4.png'); width:100%;height:50rem">
  <div fxLayoutAlign="center center" style="height: 24%; font-size: 2rem; font-weight: bold;">
    Amazing &nbsp;  <span style="color:skyblue"> Features</span>
  </div>
  <div style="width:100%; height:30%" fxLayoutAlign="center center" fxLayoutGap="1rem">
    <mat-card style="width: 10%; height: 15rem;">
      <mat-card-header style="font-weight: bold;">Made With Love</mat-card-header>
      <mat-card-content>Lorem ipsum dolor sit amet, consetetur sadipscing elitr. Lorem ipsum dolor sit amet, consetetur sadipscing.</mat-card-content>
  
    </mat-card>
    <mat-card style="width: 10%; height: 15rem; text-align: center;">
      <mat-card-header style="font-weight: bold;">Powerful</mat-card-header>
      <mat-card-content>Lorem ipsum dolor sit amet, consetetur sadipscing elitr. Lorem ipsum dolor sit amet, consetetur sadipscing.</mat-card-content>
  
    </mat-card>
    <mat-card style="width: 10%; height: 15rem;text-align: center;">
      <mat-card-header style="font-weight: bold;">Send Messages</mat-card-header>
      <mat-card-content>Lorem ipsum dolor sit amet, consetetur sadipscing elitr. Lorem ipsum dolor sit amet, consetetur sadipscing.</mat-card-content>
  
    </mat-card>
    <mat-card style="width: 10%; height: 15rem;text-align: center;">
      <mat-card-header style="font-weight: bold;">Save Money</mat-card-header>
      <mat-card-content>Lorem ipsum dolor sit amet, consetetur sadipscing elitr. Lorem ipsum dolor sit amet, consetetur sadipscing.</mat-card-content>
  
    </mat-card>
  </div>
</div>
<div style="width: 100%; " fxLayout="coloumn" >
  <div style="width: 50%; ">
    <img src='../assets/img/data_7.png'>

  </div>
 
  <div class="slideshow-container" style="width: 100%;" >

    <div class="mySlides">
      <q>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum ante vel aliquet euismod. Curabitur accumsan vitae augue vitae eleifend. Nam nisl massa, malesuada id imperdiet ac.<br>
    Cras interdum ante vel aliquet euismod. Curabitur accumsan vitae augue vitae eleifend. </q>
      <p class="author"></p>
    </div>
    
    <div class="mySlides">
      <q>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum ante vel aliquet euismod. Curabitur accumsan vitae augue vitae eleifend. Nam nisl massa, malesuada id imperdiet ac.<br>
    Cras interdum ante vel aliquet euismod. Curabitur accumsan vitae augue vitae eleifend. </q>
      <p class="author"></p>
    </div>
    
    <div class="mySlides">
      <q>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum ante vel aliquet euismod. Curabitur accumsan vitae augue vitae eleifend. Nam nisl massa, malesuada id imperdiet ac.<br>
    Cras interdum ante vel aliquet euismod. Curabitur accumsan vitae augue vitae eleifend. </q>
      <p class="author"></p>
    </div>
    
    <div>
      <a class="prev" (click)="plusSlides(-1)">❮</a>
    <a class="next" (click)="plusSlides(1)">❯</a>
    </div>
    

    <div class="dot-container" fxLayout="row" fxLayoutAlign="center center">
      <span class="dot" (click)="currentSlide(1)"></span> 
      <span class="dot" (click)="currentSlide(2)"></span> 
      <span class="dot" (click)="currentSlide(3)"></span> 
    </div> 
    
    </div> 
    
</div>
<div style="width: 100%;">
  <div  fxLayoutAlign="center center" style="height: 24%; font-size: 2rem; font-weight: bold;">
    App &nbsp; <span style="color: skyblue;">Screenshots</span> 

  </div>
  <div fxLayoutAlign="center">
    <img  style="padding-top: 3rem;" src='../assets/img/screenshot/interface_1.png'>


    

      
  </div>
  
</div>
<div style="width: 100%; " fxLayout="coloumn">
  <div style="width: 50%;" fxLayoutAlign="center center" >
    <img  style= "width: 80%;" src='../assets/img/video.jpg'>

  </div>
  <div style="width: 50%;" fxLayoutGap="1rem" fxLayoutAlign="center center" fxLayout="column">
    <div style= "font-size: 2rem; font-weight: bold; line-height: 2rem;  " fxLayoutAlign="start center" >
      Watch Video for<br> company overview
      
  
    </div>
    <div style="width: 55%;">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum ante vel aliquet euismod. Curabitur accumsan vitae augue vitae eleifend. Nam nisl massa, malesuada id imperdiet ac.<br>
  Cras interdum ante vel aliquet euismod. Curabitur accumsan vitae augue vitae eleifend. Nam nisl massa, malesuada id imperdiet ac.
    </div>
  

  </div>
 </div>
 <div style="width: 100%; height: 50rem; background-color: #1D293E;" >
  <div fxLayoutAlign="center center" style="height: 24%; font-size: 2rem; font-weight: bold; color:white">
    Affordable &nbsp; <span style="color: skyblue;">Pricing </span>For All
  </div>
  <div style="width:100%; height:30%" fxLayoutAlign="center center" fxLayoutGap="1rem">
    <mat-card style="width: 15%; height:20rem">
      <div style="font-weight: bold;" fxLayoutAlign="center center">Starter</div>
      <div style="font-weight: bold; color:aqua; font-size: 2rem; height: 3rem; " fxLayoutAlign="center center" fxLAyoutgap="1rem">.....</div>
      <div style="font-weight: bold;  font-size: 2rem; height: 3rem; " fxLayoutAlign="center center">$29</div>
      <div style="height: 4rem;" fxLayoutAlign="center center">MONTHLY</div>
      <div fxLayoutAlign="center center">15 website</div>
      <div fxLayoutAlign="center center">50GB Disk Space</div>
      <div fxLayoutAlign="center center">50 Email Accounts</div>
      
 
    </mat-card>
    <mat-card style="width: 15%; height:20rem">
      <div style="font-weight: bold;" fxLayoutAlign="center center">Popular</div>
      <div style="font-weight: bold; color:aqua; font-size: 2rem; height: 3rem; " fxLayoutAlign="center center" fxLAyoutgap="1rem">.....</div>
      <div style="font-weight: bold;  font-size: 2rem; height: 3rem; " fxLayoutAlign="center center">$29</div>
      <div style="height: 4rem;" fxLayoutAlign="center center">MONTHLY</div>
      <div fxLayoutAlign="center center">15 website</div>
      <div fxLayoutAlign="center center">50GB Disk Space</div>
      <div fxLayoutAlign="center center">50 Email Accounts</div>

      
   </mat-card>
   <mat-card style="width: 15%; height:20rem ; background-color: skyblue;">
    <div style="font-weight: bold; color: white" fxLayoutAlign="center center">Advance</div>
      <div style="font-weight: bold; color:aqua; font-size: 2rem; height: 3rem; " fxLayoutAlign="center center" fxLAyoutgap="1rem">.....</div>
      <div style="font-weight: bold;  font-size: 2rem; height: 3rem; color: white; " fxLayoutAlign="center center">$29</div>
      <div style="height: 4rem; color: white" fxLayoutAlign="center center">MONTHLY</div>
      <div style=" color: white" fxLayoutAlign="center center">15 website</div>
      <div style=" color: white" fxLayoutAlign="center center">50GB Disk Space</div>
      <div style=" color: white" fxLayoutAlign="center center">50 Email Accounts</div>

      
   </mat-card>
 
   
  </div>

   
 </div>
 <div style="background-image: url('../assets/img/bg/testimonial-bg.jpg'); width:100%;height:53rem;background-size: contain; background-repeat: no-repeat;" fxLayout="coloumn">
  <div style="width: 62%;"  fxLayoutGap="1rem" fxLayoutAlign="center center" fxLayout="column">
    <div style="width:50%; font-weight: bold; font-size: 2rem; line-height: 2rem; color: white;" fxLayoutAlign="center center">
      Check what our<br> client say<br>
      
  
     </div>
     <div style="width:25%; color: white; ">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> Cras interdum ante vel aliquet euismod.
     </div>

  </div>
   
   
   <div style="width:30%;" fxLayoutAlign="start center">
    <mat-card class="example-card">
      <div style= "height:5rem; width:20%; border-radius: 50%;">
      <img  style="width:100%; border-radius:50%" src='../assets/img/testimonial/2.jpg'>
      </div>
      <div style="font-weight: bold;">Minazur Rahman</div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum ante vel aliquet euismod. Curabitur accumsan vitae augue vitae eleifend. Nam nisl massa, malesuada id imperdiet ac.
        </p>
      <div>Stars</div>
    </mat-card>

   </div>

 </div>
 <div fxLayoutAlign="center center" style="font-weight: bold; font-size: 3rem;height: 10rem;">
   Frequently Asked &nbsp; <span style="color: skyblue;">Questions</span>
 </div>
 <div fxLayoutAlign="center center">
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title style="font-weight: bold;">
          Clean code
        </mat-panel-title>
        <mat-panel-description>
          
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum ante vel aliquet euismod. Curabitur accumsan vitae augue vitae eleifend.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Create design out of the box

          
        </mat-panel-title>
        <mat-panel-description>
           
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum ante vel aliquet euismod. Curabitur accumsan vitae augue vitae eleifend.</p>
    </mat-expansion-panel>
    
  </mat-accordion>
  

 </div>
 <div style="width: 100%; height:100%"fxLayout="coloumn" fxLayoutAlign="center center">
  <div  fxLayoutGap="1rem" fxLayoutAlign="center center" fxLayout="column">
    <div style="width: 56%; font-size: 2rem; font-weight: bold; line-height: 2rem;  " fxLayoutAlign="start center" >
    
      Get In<br> Touch
    </div>
    <div style="width: 55%;">
      
     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
      
    </div>
    

   </div>
   <div style="width: 50%; border: solid;"   fxLayout="center center"  >
    <div    fxLayoutAlign="start end">
      <!-- <mat-form-field>
        <input mat-Input placeholder="Name">
      </mat-form-field>
      <mat-form-field>
        <input mat-Input placeholder="Email">
  
      </mat-form-field>
     </div>
     <div style="width: 100%;"  fxLayout="row">
      <mat-form-field>
        <input mat-Input placeholder="Email">
  
      </mat-form-field> -->


     <!-- </div>
     <div style="width: 100%;" fxLayoutAlign="center center" fxLayout="row">
      <mat-form-field>
        <input mat-Input placeholder="Email">
  
      </mat-form-field> -->
     


   </div>
   </div>  
   
 </div>

 
 





    
  

  






  
